<!doctype html>
<html lang="en">
        <head>
                <meta charset='utf-8'>
                <title>{{ticker}} data</title>
                <link rel='stylesheet' type=text/css href='http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.css'>
                <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.js"></script>

                {{ scr | safe }}

        </head>
        <body>
                <div class=page>
                        <h1>Generated graph for {{ticker}}<br><a href="/index">Back</a></h1>

                        {{ div | safe }}

                </div>
        </body>
</html>
